.my-masonry-grid {
    display: flex;
    margin-left: -20px;
  }
  .my-masonry-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements in <masonry> */
    background: #ddd;
    
    margin-bottom: 20px;
  }
  .my-masonry-grid_column > div > a {
    display: block;
    
    padding: 20px;
    text-decoration: none;
    background: #ddd;
    

  }
  .my-masonry-grid_column > div > a:hover {
    color: #000;
    background: #eee;
    transition: 275ms all linear;

  }
  .character {
    width: 100%;
  }
  .charName {
    padding: 10px 0;
    font-size: 20px;
    color: #000;
  }
  .charName:hover {
    color: #f50404;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

  }
  .buttonGroup button {
    padding: 5px 15px;
    border: none;
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 20px;
    cursor: pointer;

  }
  .buttonGroup button:hover  {
    background-color: white;
    color: blue;
  }
  .addMore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
  }
  .addMore span {
    font-size: 24px;
    font-weight: 600;
  }
  .addMore span:before {
    content: "<";
  }
  .addMore span:after{
    content: ">";
  }
  .addMore button {
    border-radius: 6px;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
    background-color: aqua;
    cursor: pointer;
  }
  .addMore button:hover {
    background-color: black;
    color: aqua;
    transition: 300ms all ease-in-out;
  }
