*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  flex-wrap: wrap;
  gap: 60px;
}
ul  li{
  list-style: none;
}

